<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Voidspace</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="/">Home</a></li>
      <li><a href="http://voidspace.xyz/presentations">Presentations</a></li>
      <li><a href="/about/2015/01/15/my-projects/">Projects</a></li>
      <li><a href="/about/2015/01/15/about-me/">About</a></li>
      <li><a href="https://gitlab.com/{{GITLAB_NAME}}" target="_blank">*GitLab</a></li>
      <li><a href="https://github.com/{{GITHUB_NAME}}" target="_blank">Github</a></li>
    </ul>
  </div>
</nav>
